<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.CNPM_QLThuVienConnectionString1"
            connectionString="Data Source=THUHIEN;Initial Catalog=CNPM_QLThuVien;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.CNPM_QLThuVienConnectionString"
            connectionString="Data Source=THUHIEN;Initial Catalog=CNPM_QLThuVien;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>